<table id="message-list" class="table table-striped table-hover">
	<thead>
		<tr>
			<th class="col-date">created</th>
			<th class="col-type">type</th>
			<th class="col-subject">subject</th>
			<th class="col-sender">sender</th>
			<th class="col-replies">replies</th>
			<th class="col-status">status</th>
		</tr>
	</thead>
	<tbody>
	{% for ticket in tickets %}
		{% include "main/comp/center/subreddit_ticket.jinja" %}
	{% endfor %}
	</tbody>
</table>

{% if tickets|length() == 0 and get_status_class(status_filter) == "open" %}
<div id="no-messages">
	<p class="info-message">you have no open tickets</p>
	<p class="info-message">good job!</p>
</div>
{% endif %}
