{% set message = ticket.message %}
{% if ticket.modified_by %}
	{% set last_modified = ticket.modified_by.name %}
	{% if request.user.redditor.name == last_modified %}
		{% set last_modified = last_modified + " (that's you!)" %}
	{% endif %}
{% else %}
	{% set last_modified = "a ghost" %}
{% endif %}

<tr class="ticket" data-ticket-id="{{ ticket.id }}" data-ticket-status="{{ get_status_class(ticket.status) }}" data-last-modified-by="{{ last_modified }}">
	<td class="col-date"><span class="date" title="{{ ticket.date_created }}">{{ humanize_date(ticket.date_created) }}</span></td>
	<td class="col-type">
		<span class="label label-{{ get_type_label_class(ticket.type) }}">{{ get_type_string(ticket.type) }}</span>
	</td>
	<td class="col-subject"><a href="{{ get_message_url(message.id) }}" target="_blank">{{ message.subject }}</a></td>
	<td class="col-sender"><a href="{{ get_redditor_url(message.sender) }}" target="_blank">{{ message.sender }}</a></td>
	<td class="col-status">
		<div class="btn-group">
			{% set status_class = get_status_label_class(ticket.status) %}
			
			<a href="javascript:" class="status-button btn btn-xs btn-{{ status_class }}">{{ get_status_string(ticket.status) }}</a>
			<button type="button" class="status-dropdown-button btn btn-xs btn-{{ status_class }} dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="status-button-set text-success" status="open" href="javascript:">Open</a></li>
				<li><a class="status-button-set text-primary" status="active" href="javascript:">Active</a></li>
				<li><a class="status-button-set text-muted" status="closed" href="javascript:">Closed</a></li>
				<li><a class="status-button-set text-danger" status="ignored" href="javascript:">Ignored</a></li>
			</ul>
		</div>
	</td>
</tr>
