{% extends "main/base_with_sidebar.jinja" %}
{% block body_class %}useless-404-body-class{% endblock %}

{% block sidebar_area %}
	{% include "main/comp/sidebar/subreddit-list.jinja" %}
{% endblock %}

{% block content_area %}
	<img id="image-404" src="{{ static("images/404.png") }}"/>
{% endblock %}
