{% extends "base.jinja" %}
{% import "generators.jinja" as gen %}

{% block styles %}
{{ super() }}
{{ gen.css("main.css") }}
{% endblock %}

{% block js %}
{{ super() }}
{{ gen.js("main.js") }}
{% endblock %}

{% block content scoped -%}

{# Nav bar #}
{% include "main/comp/navbar.jinja" %}

{# Main content #}
{% block main_content scoped %}{% endblock %}

{# Footer content #}
<footer>
{% block footer_content scoped %}{% endblock %}
</footer>

{% endblock %}
