{% extends "main/base_with_sidebar.jinja" %}
{% block body_class %}subreddit tickets{% endblock %}

{% block sidebar_area %}
	{% include "main/comp/sidebar/subreddit-list.jinja" %}
{% endblock %}

{% block content_area %}
	{# {% include "main/comp/center/toolbar.jinja" %} #}
	{% include "main/comp/center/subreddit.jinja" %}
{% endblock %}
